* {
  box-sizing: border-box;
}

:root {
    --accent-yellow: rgba(243, 230, 49, 1); /* declares object that other styles can call to */
    --accent-blue: rgba(0, 0, 100, .8);
    --accent-light: rgba(220, 220, 220, 1);
}

body {
  display: grid;
  gap: 1px;
  grid-template-rows: 13% 19% 16% 17% 7% 9%;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
}

header, footer, div {
  height: 8vmin;
  font-size: 5vmin;
  justify-content: center;
  align-items: center;
  display: flex;
}

div#blackjack_header {
  margin: 5px;
  font: Georgia, Arial, Sans;
  color: black;
  background-color: var(--accent-yellow);
}

div#blackjack_header > h3 {
  background-color: white;
  color: var(--accent-dark);
}

div#bid_header > h2#bidding {
  background-color: var(--accent-blue);
  color: var(--accent-light);
}

button {
  height: 10vmin;
  font-size: 6vmin;
  font-weight: bold;
  padding: 2vmin;
  margin-top: 4vmin;
  background-color: var(--accent-yellow);
  color: var(--accent-blue);
  border-radius: 30%;
}

button:hover {
  background-color: var(--accent-blue);
  color: var(--accent-yellow);
}