* {
  box-sizing: border-box;
}

:root {
    --accent-light: rgba(243, 230, 49, 1); /* declares object that other styles can call to */
    --accent-dark: rgba(50, 0, 50, .8)
}

body {
  display: grid;
  gap: 1px;
  grid-template-rows: 25% 15% 20% 20% 10%;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
}

header, footer, div {
  height: 10vmin;
  font-size: 8vmin;
  justify-content: center;
  align-items: center;
  display: flex;
}

div#blackjack_header {
  margin: 5px;
  font: Georgia, Arial, Sans;
  color: black;
  background-color: var(--accent-light);
}

div#blackjack_header > h3 {
  background-color: white;
}

div#win_loss_header > h2#win_loss {
  background-color: var(--accent-dark);
  color: var(--accent-light);
}

button {
  height: 10vmin;
  font-size: 6vmin;
  font-weight: bold;
  padding: 2vmin;
  margin-top: 4vmin;
  background-color: var(--accent-light);
  color: var(--accent-dark);
  border-radius: 30%;
}

button:hover {
  background-color: var(--accent-dark);
  color: var(--accent-light);
}